//
//
// -----------------------  CEGEKA Farben ---------------------
//
//

// Farben des Logos

$primary_skyblue: #32cd32;
// RGB 0 152 195
$secondary_pasteltourquoise: #32cd32;
// RGB 144 213 223
$tertiary_lightblue: #32cd32;
// RGB 76 159 206
$quartiary_purpleviolet: #32cd32;
// RGB 105 37 111
$warn_purered: #32cd32;
// RGB 240 75 76



// Erweiterte Pallete
$extended_1: #C8E9EF;
$extended_2: #6BC6C4;
$extended_3: #2782AA;
$extended_4: #11687F;
$extended_5: #F37160;
$extended_warn: #D12F30;


// Grautöne
$brightest: #F1F2F2;
$grey_lightest: #E2E9EB;
$grey_light: #CAD1D3;
$grey: #9BB0B7;
$grey_stronger: #636D75;
$grey_strongest: #4D555B;
$darkest: #232628;


$cegeka-skyblue-palette_700: (
  50: #e1f5f8,
  100: #b3e4ed,
  200: #83d2e2,
  300: #57c0d9,
  400: #37b3d4,
  500: $tertiary_lightblue,
  600: $extended_3,
  700: $primary_skyblue,
  800: $extended_4,
  900: #00567e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$cegeka-pasteltourquoise-palette_200: (
  50: #e2f5f7,
  100: $extended_1,
  200: $secondary_pasteltourquoise,
  300: $extended_2,
  400: #52b9ca,
  500: #45adc2,
  600: #409eaf,
  700: #3a8997,
  800: #33767f,
  900: $quartiary_purpleviolet,
  A100: #f5f5f5,
  A200: #eaeaeb,
  A400: #d6d6d7,
  A700: #838386,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  )
);

$cegeka-extended-warn-palette_700: (
  50: #ffebee,
  100: #fecdd2,
  200: #ee9a9a,
  300: #e37373,
  400: $extended_5,
  500: #f24336,
  600: #e33935,
  700: $extended_warn,
  800: #c42828,
  900: #b51c1c,
  A100: #f5f5f5,
  A200: #eaeaeb,
  A400: #d6d6d7,
  A700: #838386,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  )
);

//
//
// -----------------------  CEGEKA Farben Ende---------------------
//
//
