// ---------------- FARBE 1 --------------------


.customColor{
  color: limegreen !important;
  background-color: limegreen !important;
  outline: 2px solid limegreen !important;
}

button.mat-stepper-next:not(:disabled){
  background-color: limegreen !important;
}

button.mat-mdc-outlined-button:not(:disabled) {
  color: limegreen !important;
}

.mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
  background-color: limegreen !important;
}

.mat-step-icon.mat-step-icon-state-edit{
    background-color: limegreen !important;
}


// ---------------- FARBE 2 --------------------

.mat-mdc-standard-chip.mat-accent.mat-mdc-chip-selected{
  --mdc-chip-elevated-container-color: bisque !important;
}
