// ---------------- FARBE 1 --------------------
.customColor{
  color: hotpink !important;
  background-color: hotpink !important;
  outline: 2px solid hotpink !important;
}

button.mat-stepper-next:not(:disabled){
  background-color: hotpink !important;
}

button.mat-mdc-outlined-button:not(:disabled) {
  color: hotpink !important;
}

.mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
  background-color: hotpink !important;
}



// ---------------- FARBE 2 --------------------

.mat-mdc-standard-chip.mat-accent.mat-mdc-chip-selected{
  --mdc-chip-elevated-container-color: bisque !important;
}
